// search styles
.search {
  display: flex;
  align-items: center;
  &__input {
    border: none;
    border-bottom: 1px solid $c-light-grey;
    outline: none;
    padding: 7px 25px 7px 5px;
    transition: border $t-normal;
    &:focus {
      border-color: $c-orange;
    }
  }
  &__submit {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin-left: -20px;
  }
  &__icon {
    width: 14px;
    height: 14px;
    padding: 7px;
    fill: $c-grey;
    &:hover {
      fill: $c-orange;
    }
  }
}