// details styles
.m-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  &__icon {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    fill: $c-light-grey-3;
  }
  &__title {
    font-size: $fs-16;
    font-weight: $fw-6;
  }
  &__subtitle {
    font-size: $fs-9;
  }

  &--orange {
    .m-details__title {
      color: $c-orange;
    }
  }
}

//------------------------------
// Respnsive
//------------------------------
@media #{$tablet} {
  .m-details {
    &__title {
      font-size: $fs-12;
    }
  }
}

@media #{$phone} {
  .m-details {
    flex-wrap: nowrap;
    &__detail {
      width: 25%;
      margin-bottom: 0px;
    }
  }
}