// filter styles
.o-filter {
  position: relative;
  margin-top: -35px;
  &__form {
    box-shadow: $bs-main;
    background: $c-white;
    padding: 40px;
    border-radius: $br-min;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}