// nav styles
.m-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    color: $c-dark-4;
    line-height: $lh-1-5;
    transition: color $t-normal;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:hover {
      color: $c-orange;
    }
  }
}