include ../../molecules/breadcrumbs/breadcrumbs
include ../../molecules/control/control
include ../../molecules/new/new

mixin aside(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.o-aside(class=spec.__class)&attributes(attributes)
    .o-aside__head.js-aside-head
      +breadcrumbs({ '__class': 'o-aside__breadcrumbs', items: [
        { link: '#', name: 'На головну' },
        { link: '#', name: 'Купити' },
        { link: '#', name: 'Квартиру' },
      ] })
      +control({ '__class': 'o-aside__prev', type: 'left' })
    a(href="#" style="background-image: url('img/advert.gif')").o-aside__banner
    .o-aside__title Новини
    .o-aside__news.row
      .o-aside__new.col-md-12.col-xs-6
        +new({ '__class': 'o-aside__article' })
      .o-aside__new.col-md-12.col-xs-6
        +new({ '__class': 'o-aside__article' })
      .o-aside__new.col-md-12.col-xs-6
        +new({ '__class': 'o-aside__article' })