// title styles
.o-title {
  font-size: $fs-33;
  font-family: $f-futura;
  color: $c-grey;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 0;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__home {
    display: block;
  }
  &__logo {
    width: 45px;
    margin-right: 20px;
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$tablet} {
  .o-title {
    font-size: $fs-26;
  }
}