mixin title(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.isLogo = spec.isLogo || false

  div.o-title(class=spec.__class)&attributes(attributes)
    if spec.isLogo
      .container.o-title__container.o-title__container--logo
        a(href="/").o-title__home
          img(src="img/logo-min.png").o-title__logo
        span Нерухомiсть Iвано-Франкiвська
    else
      .container.o-title__container
        span Нерухомiсть Iвано-Франкiвська