// range styles
.range {
  width: calc(100% - 50px);
  margin: auto;
  padding: 20px 0 15px;
}

//------------------------------
// Responsive
//------------------------------

@media #{$tablet} {
  .range {
    width: 100%;
  }
}