// product styles
.o-product {
  //------------------------------
  // Header
  //------------------------------
  &__title {
    font-size: $fs-26;
    text-transform: uppercase;
    font-weight: $fw-6;
    font-family: $f-futura;
  }
  &__subtitle {
    font-size: $fs-15;
    text-transform: uppercase;
  }
  &__declaration {
    margin-top: 30px;
    font-size: $fs-12;
  }
  //------------------------------
  // Main
  //------------------------------
  // Info
  &__info {
    &-header {
      display: flex;
      flex-direction: column;
    }
    &-main {
      margin-top: 30px;
    }
    &-footer {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__details {
    box-shadow: $bs-main;
    padding: 10px;
    width: 100%;
    max-width: 400px;
  }
  &__add-advert {
    align-self: flex-end;
    margin-top: 15px;
    max-width: 400px;
  }
  &__row {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__low-title {
    font-size: $fs-14;
    font-weight: $fw-6;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  //------------------------------
  // Footer
  //------------------------------
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
}
#map {
  width: 100%;
}


//------------------------------
// Responsive
//------------------------------
@media #{$screen} {
  .o-product {
    &__add-advert {
      width: 100%;
    }
    //------------------------------
    // Main
    //------------------------------
    &__info {
      &-footer {
        flex-direction: column;
        align-items: center;
      }
    }
    &__phone {
      width: 100%;
      max-width: 400px;
    }
    &__write {
      width: 100%;
      margin-top: 15px;
      max-width: 400px;
    }
  }
}


@media #{$desktop} {
  .o-product {
    //------------------------------
    // Info
    //------------------------------
    &__info {
      padding: 30px 15px;
      &-main {
        display: flex;
        justify-content: center;
      }
    }
    &__details,
    &__add-advert {
      align-self: center;
    }
  }
}
  