body {
  background: $c-dark;
  color: $c-white;
  fill: $c-white;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: $fs-12;
}
h1 {
  margin-top: 40px;
}
.version {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.icon {
  animation: icon .25s infinite alternate;
}
.svg-image {
  width: 100%;
  background: $c-white;
  padding: 40px;
  margin-top: 50px;
}
@keyframes icon {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(5px)
  }
}