include ../../molecules/menu/menu
include ../../molecules/search/search

mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.currentPage = spec.currentPage || 'home'

  div(class=spec.__class).header&attributes(attributes)
    .container
      .header__content
        +menu({ '__class': 'header__menu', active: spec.currentPage })
        +search({ '__class': 'header__search' })
