// hamburger styles
.a-hamburger {
  position: relative;
  display: none;
  height: 20px;
  cursor: pointer;
  width: 30px;
  span {
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    background: $c-dark-4;
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
  }
}

//------------------------------
// Responsive
//------------------------------
@media #{$tablet} {
  .a-hamburger {
    display: block;
  }
}