// content styles
.o-content {
  margin: 70px 0;
  &__breadcrumbs {
    margin-bottom: 15px;
    padding-left: 40px;
  }
  //------------------------------
  // Top / Bottom
  //------------------------------
  &__top,
  &__bottom {
    display: flex;
    align-items: center;
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }

  //------------------------------
  // Top
  //------------------------------
  &__top {
    margin-bottom: 30px;
  }

  //------------------------------
  // Bottom
  //------------------------------
  &__up {
    display: flex;
    justify-content: flex-end;
  }
  //------------------------------
  // Center
  //------------------------------
  
  &__item {
    margin-bottom: 30px;
  }
  
}

//------------------------------
// Responsive
//------------------------------
@media #{$desktop} {
  .o-content {
    margin: 50px 0;
    &__breadcrumbs {
      padding-left: 0;
    }
    &__pagination {
      justify-content: flex-start;
    }
  }
}

@media #{$phone} {
  .o-content {
    &__item {
      width: 100%;
    }
  }
}

@media #{$iPhone} {
  .o-content {
    &__top,
    &__bottom {
      flex-direction: column;
      & > * {
        width: 100%;
        justify-content: center;
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
  }
}