// socials styles
.m-socials {
  display: flex;
  &__social {
    background: $c-grey-3;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background $t-normal;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background: $c-dark-2;
    }
  }
  &__icon {
    width: 17px;
    fill: $c-white;
    height: 17px;
  }
}