include _modules/organisms/title/title
include _modules/organisms/intro/intro
include _modules/organisms/filter/filter
include _modules/organisms/content/content

extends _layouts/base

block title
  title= site.data.global.titleHome

block header
  +title
  +header({ currentPage: currentPage })
block content
  +intro()(style="background-image: url(img/intro.jpg)")
  +filter
  +content