include _modules/organisms/title/title
include _modules/organisms/intro/intro
include _modules/organisms/filter/filter
include _modules/organisms/content/content
include _modules/organisms/partners/partners
include _modules/organisms/footer/footer

extends _layouts/base

block title
  title= site.data.global.titleHome

block header
  +title
  +header({ currentPage: currentPage })
block content
  +intro()(style="background-image: url(img/intro.jpg)")
  +filter({ '__class': 'o-filter--moved' })
  +content
  +partners({
    title: 'Наші партнери',
    partnersNames: [
      'partner-1', 
      'partner-2', 
      'partner-3', 
      'partner-4',
      'partner-5',
      'partner-6',
      'partner-7',
      'partner-8',
      'partner-9',
      'partner-1',
      'partner-2',
      'partner-3',
      ]
  })
  +footer