include _modules/organisms/title/title
include _modules/organisms/filter/filter
include _modules/organisms/content/content
include _modules/organisms/footer/footer
include _modules/organisms/product-content/product-content

extends _layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = './'
  - var currentPage = site.data.pages.market.dataName

block title
  title= site.data.global.titleRent

block header
  +title({ isLogo: true })
  +header({ currentPage: currentPage })
block content
  +product-content
  +footer