include ../../molecules/socials/socials
include ../../molecules/up/up
include ../../molecules/nav/nav

mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.o-footer(class=spec.__class)&attributes(attributes)
    .o-footer__top
      .o-footer__top-inner.container
        .o-footer__number +38 098 783 33 32
        +socials({ '__class': 'o-footer__socials', socials: [
          { icon: 'vk' },
          { icon: 'facebook' },
          { icon: 'instagram' }
          ]})
        .o-footer__number +38 098 783 33 32
    .o-footer__middle
      .o-footer__nav
        +nav({ items: [
          { url: '#', name: 'Новобудови' },
          { url: '#', name: 'Вторинний ринок' },
          { url: '#', name: 'Оренда' },
          { url: '#', name: 'Новини' },
          { url: '#', name: 'Додати оголошення' },
          { url: '#', name: 'Наші партнери' }
        ]})
    .o-footer__bottom
      .container
        .row
          .col-md-4
          .o-footer__copyright.col-md-4 All rigts reserved xata.if.ua 2017
          .o-footer__up.col-md-4
           +up

